html, body {
  margin: 0;
  padding: 0;
}

body {
  background: black;
}

canvas {
  display: block;
}

#score {
  visibility: hidden;
  font-family: Arial;
  font-size: 28pt;
  color: #ffffff;
  display: inline-block;
  position: absolute;
  left: 780px;
  top: 53px;
}

#direction {
  visibility: hidden;
  font-family: Arial;
  font-size: 24pt;
  color: #ffffff;
  display: inline-block;
  position: absolute;
  left: 780px;
  top: 103px;
}

#init {
  visibility: hidden;
  z-index: 100;
  font-family: Arial;
  font-size: 24pt;
  color: #ffffff;
  display: inline-block;
  position: absolute;
  left: 780px;
  top: 103px;
}

#ui {
  width: 100%;
  margin: 100px auto;
  text-align: center;
}

#savebtn {
  margin-top: 50px;
  width: 100px;
  height: 40px;
}

#urlinput {
  width: 800px;
}

#msg {
  width: 100%;
  text-align: center;
  color: white;
}